# Compilados do Maven
target/

# IDEs
.idea/
*.iml
.vscode/

# Sistema
.DS_Store

# Logs
*.log
logs/

# Eclipse
.classpath
.project
.settings/

# Arquivos locais
.configurações/
lixeira/
.caminho_da_fábrica